<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <title>Jvariants Wiki {% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for msg in messages %}
      <li>{{ msg }}</li>
      {% endfor %}
    {% endif %}
    {% endwith %}
    {% block nav %}
      <nav>
        {% if nav %}
          {%  for n in nav.keys() %}
            <a href={{ nav[n][1] }}>{{ nav[n][0] }}</a>
          {% endfor %} 
        {% endif %}
      </nav>
    
    {% endblock %}

    {% block content %}
      <h1> default content </h1>
    {% endblock %}

  </body>
</html>
