{% extends "base.html" %}
{% block title %} - Sign up{% endblock %}
{% block content %}
<form method="post">
    <h2>enter new user info</h2>
    <br>
    <label>Username<br><input type="text" name="username" value="{{username}}"></label>
    <br>
    <label>Password<br><input type="password" name="password">{{password}}</input></label>
    <br>
    <label>Verify<br><input type="password" name="verify">{{verify}}</input></label>
    <br>
    <label>email<br><input type="text" name="email" value={{email}}></input></label>
    <br>
    {{warning}}
    <br>
    <input type="submit">
{% endblock %}

